body {
    background-color: #212529;
    /* maybe adding margin ? */
    margin: 100px 125px;
    font-size: large;
}

.text {
    color: white;
}

h1 {
    color: white;
}

.vpn-list {
    color: white;
}

#intro {
    color: white;
}

.title-web {
    text-align: center;
}

.attribution {
    color: white;
}